<!DOCTYPE html>
<html lang="en">

{{!-- header --}}
{{> head}}

<body>
    {{!-- navbar --}}
    {{> navbar }}

    {{!-- body --}}
    <div class="container">
        {{{ body }}}
    </div>

    {{!-- footer --}}
    {{> foot}}
</body>
</html>